<!DOCTYPE html>

<!-- David Geier, November 17th, 2024 -->

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Record Details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

<h1>Record Details</h1>

<p><strong>Title:</strong> <span th:text="${vinyl.title}"></span></p>
<p><strong>Artist:</strong> <span th:text="${vinyl.artist}"></span></p>
<p><strong>Label:</strong> <span th:text="${vinyl.label}"></span></p>
<p><strong>Year of Release:</strong> <span th:text="${vinyl.yearOfRelease}"></span></p>
<p><strong>Number of Tracks:</strong> <span th:text="${vinyl.numberOfTracks}"></span></p>
<p><strong>Size:</strong> <span th:text="${vinyl.recordSize}"></span></p>

<div th:if="${vinyl.damaged}">
  <p><strong>Note:</strong> This record is damaged.</p>
</div>

<button onclick="location.href='/records'">Back to Records List</button>

</body>
</html>
